In [1]:
pip install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (4.1.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.12.0)

In [0]:
import pandas as pd
import numpy as np
import plotly.express as px

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/alao3/dumping_final_project/master/illeg_dump_python.csv")

In [4]:
df.head()

   311Year  311Reports  ...  CitationMonth  CitationMonthRep
0   2014.0       774.0  ...        January               452
1   2015.0      3173.0  ...       February               409
2   2016.0      1384.0  ...          March               595
3   2017.0       618.0  ...          April               503
4   2018.0       621.0  ...            May               355

[5 rows x 8 columns]

In [0]:
df_top10=df.head(10)

In [0]:
barchart_graph = px.bar(df_top10, # dataframe of the data we want to plot
                     x = "CitationYear", # column on the x axis
                     y = "Citation Report", # column on the y axis
                     hover_name = "Citation Report", # values we want to show up when we hover over the chart 
                    title = "Annual Trends in Citation Reporting from 2010-2019", 
                    labels = {"CitationYear": "Year", "Citation Report": "Number of Citations"},)# renaming labels
                    #orientation = "h" # change the x, y values to make a horizontal bar chart

In [13]:
barchart_graph

In [14]:
df_top10.head()

   311Year  311Reports  ...  CitationMonth  CitationMonthRep
0   2014.0       774.0  ...        January               452
1   2015.0      3173.0  ...       February               409
2   2016.0      1384.0  ...          March               595
3   2017.0       618.0  ...          April               503
4   2018.0       621.0  ...            May               355

[5 rows x 8 columns]